<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="tracelabs"
            name="TraceLabs">
      </category>
      <view
            category="tracelabs"
            class="tracelabs.views.SysCallsTableView"
            icon="icons/sample.png"
            id="tracelabs.views.SysCallsTableView"
            inject="true"
            name="SysCalls - Table">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.SysCallsAggregateTableView"
            icon="icons/sample.png"
            id="tracelabs.views.SysCallsAggregateTableView"
            inject="true"
            name="SysCalls - Aggregated Table">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.PerformanceCountersTotalCountsTableView"
            icon="icons/sample.png"
            id="tracelabs.views.PerformanceCountersTotalCountsTableView"
            inject="true"
            name="Performance Counters - Total Table">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.PerformanceCountersTotalCountsView"
            icon="icons/sample.png"
            id="tracelabs.views.PerformanceCountersTotalCountsView"
            inject="true"
            name="Performance Counters - Total Viz">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.PerformanceCountersGrowthView"
            icon="icons/sample.png"
            id="tracelabs.views.PerformanceCountersGrowthView"
            inject="true"
            name="Performance Counters - Growth Viz">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="tracelabs.views.TraceLabsDefaultView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="tracelabs.views.TraceLabsAggregateView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
