<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="tracelabs"
            name="TraceLabs">
      </category>
      <view
            category="tracelabs"
            class="tracelabs.views.TraceLabsDefaultView"
            icon="icons/sample.png"
            id="tracelabs.views.TraceLabsDefaultView"
            inject="true"
            name="TraceLabs SysCall Stats">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.TraceLabsAggregateView"
            icon="icons/sample.png"
            id="tracelabs.views.TraceLabsAggregateView"
            inject="true"
            name="TraceLabs Aggregate SysCall Stats">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.TraceLabsPerformanceCountersView"
            icon="icons/sample.png"
            id="tracelabs.views.TraceLabsPerformanceCountersView"
            inject="true"
            name="TraceLabs Performance Counters">
      </view>
      <view
            category="tracelabs"
            class="tracelabs.views.TraceLabsPerformanceCountersChartView"
            icon="icons/sample.png"
            id="tracelabs.views.TraceLabsPerformanceCountersChartView"
            inject="true"
            name="TraceLabs Performance Counters Chart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="tracelabs.views.TraceLabsDefaultView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="tracelabs.views.TraceLabsAggregateView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
